html, body{
    height: 100%;
    width: 100%;
}


/* style giving to left image which is logo*/
.left img{
    width: 30px;
    height: 30px;
}

/*giving styling to header not to nav bar because nav bar is undr the header so it will be easy if we style header so we dont have to type code again and again*/
.container{
    max-width: 80vw;
    margin: auto;
}

/*nav ke under jo ul h jo uske andr li he usko style krna he taki woh perfectly alg alg dekhe without
any dots*/

/* list style = none taki dots hat jaye*/

nav ul li{
    list-style: none;
    padding: 0px 12px;


}