@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&family=Varela+Round&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

/* shadow is given on fully the header section*/
/* position has been given sticky and top = 0 because nav bar should be seen after scrolling to down also*/


header{
   
    position:sticky;
    top: 0;
    background-color: white;
    height: 66px;
}

.section1{
    background-color: 	 #ffe6ff;
    height: 122vh;
}


/* style giving to left image which is logo*/
.left img{
    width: 40px;
    height: 40px;
}

/*giving styling to header not to nav bar because nav bar is undr the header so it will be easy if we style header so we dont have to type code again and again*/
.container{
    max-width: 80vw;
   
    padding: 0vw 10vw;
    
}

/*nav ke under jo ul h jo uske andr li he usko style krna he taki woh perfectly alg alg dekhe without
any dots*/

/* list style = none taki dots hat jaye*/

nav {
    font-size: 12px 0px;
    padding-top: 14px;
}

nav ul li{
    list-style: none;
    padding: 0px 12px;

}

.search {
    width: 24vw;
    padding: 7px 17px;
    border: o.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;
}